html, body {
    height: 100%;
}
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.sea-field-container {
    display: flex;
    justify-content: space-around;
}
.sea-field-container-inner {
    display: flex;
}
.sea-field {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 32px;
}
.row {
    display: flex;
}
.cell {
    height: 32px;
    width: 32px;
    margin: 1px;
    background-color: grey;

}
.ship {
    background-color: darkgreen;
}
.ship.active {
    background-color: darkred;

}
.active {
    outline: 2px solid blue;
    opacity: 0.8;
}
.info-row {

}