html, body {
    height: 100%;
}
body {
    background-color: lightslategrey;
    margin: 0;
    overflow-y: hidden;
}

.optix {
    background-color: lightsalmon;
    font-size: 20px;
    font-family: Calibri;
}
.tear {
    color: fuchsia;
}
.photos {
    width: 300px;
}
.flex {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.imeg {
    flex: 1;
}
.flex1 {
    display:flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bolder;
}
.content {
    overflow-y: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}